.favorites {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.favorites-empty {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.favShow {
    width: 300px;
    border: 2px solid rgb(35,31,32);
    margin: 10px;
    color: rgb(35,31,32);
}

.fav-show-description-cont {
    background-color: rgb(118,205,216);
}

.fav-button-cont {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    align-items: center;
    align-content: center;
    background-color: rgb(118,205,216);
}

.favShow h4 {
    font-size: 20px;
    background-color: rgb(118,205,216);
    margin: 0;
}

.favShow img {
    width: 200px;
}

.favShow p {
    margin: 0;
}

.favShow a {
    text-decoration: none;
    color: rgb(35,31,32);
    font-size: 14px;
}

.favorites a {
    text-decoration: none;
    color: rgb(35,31,32);
}
