.login {
    background-color: rgb(118,205,216);
    width: 60%;
    display: flex;
    justify-self: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 70vh;
    align-items: center;
}

.login h2 {
    font-size: 22px;
}

.login-form input {
    width: 80%;
    height: 20px;
    background-color: white;
    border-radius: 5px;
    margin: 10px 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 45vh;
}

.button:hover {
    background-color: black;
}

.login .button {
    margin: 0 auto;
}

.span-link {
    color: blue;
    cursor: pointer;
}

.span-link:hover {
    color: white;
}