.people {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.man {
    min-width: 300px;
    border: 2px solid rgb(35,31,32);
    margin: 10px;
}

.man a {
    color: black;
    text-decoration: none;
}

.people-button-cont {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    align-items: center;
    align-content: center;
    background-color: rgb(118,205,216);
}

.man .button {
    margin: 0 auto;
}

.man h4 {
    background-color: rgb(118,205,216);
    margin: 0;
}

.man p {
    background-color: rgb(118,205,216);
    margin: 0;
}

.man img {
    width: 250px;
}
